/*
!/.gitignore
!/pipeline/
!/third_party/
!/environment.yml

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb