/*
!/.gitignore
!/pipeline/
!/third_party/
!/environment.yml
!environment_eval.yml
!/evaluation/
!/scripts/
!/data_preparation/
!evaluate_external_rpc.py
!make_rpc_template.py
!reference_dataset.csv


*.md
!README.md
scenes.json

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb
!/data_preparation/classification.ipynb
!/data_preparation/notebooks/*